@font-face {
  font-family: Fudarkle-Runen;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/RabenFlueh/Fonts/203b2d813514b827864f71aec53cad6071192602/Fudarkle_Runen.ttf);
}



/* 
-------------------------------------------------------------------------------------------------------------
 - CSS Code für: WorldAnvil -

Eigens entwickelte und fantastische Runen-Schrift für die neu entstehende Buch-Welt: 'Jenseits Des Spiegels'. 

Basiert auf echten historischen skandinavischen (Futhark) und germanischen (Futhorc) Ursprungs. 
( + Schweizerdeutsche Laute bilden dessen Entwicklung.) (Font kreiert dank: www.calligraphr.com/de/)


MH RabenFlueh.
--------------------------------------------------------------------------------------------------------------
*/
