@font-face {
  font-family: Fudarkle-Runen;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/RabenFlueh/Fonts/5fb8f78e6a2a8fa387b7004d88980ad66199952d/Fudarkle-Runen.ttf);
}



/* 
-------------------------------------------------------------------------------------------------------------
 - CSS Code: WorldAnvil -

Eigens entwickelte und fantastische Runen-Schrift für die neu entstehende Buch-Welt: 'Jenseits Des Spiegels'. 

Basiert auf echten historischen skandinavischen (Futhark) und germanischen (Futhorc) Ursprungs. 
( + Schweizerdeutsche Laute bilden dessen Entwicklung.)


MH RabenFlueh.
--------------------------------------------------------------------------------------------------------------
*/
