@font-face {
  font-family: Fudarkle-Runen;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/RabenFlueh/Fonts/cbea0a4351f9ae50a5f14782df8a3e839c24a0cd/Fudarkle-Runen.ttf);
}

@font-face {
  font-family: Fudarkle-ABC;
  font-style: normal;
  font-weight: 400;
  src: url(https://rawcdn.githack.com/RabenFlueh/Fonts/8e36b66b37bbe6cdf5f86398045ce6946d5479d8/Fudarkle-ABC_Regular.ttf);
}


/* 
-------------------------------------------------------------------------------------------------------------
 - CSS Code für: WorldAnvil -

Eigens entwickelte und fantastische Runen-Schrift für die neu entstehende Buch-Welt: 'Jenseits Des Spiegels'. 

Basiert auf echten historischen skandinavischen (Futhark) und germanischen (Futhorc) Ursprungs. 
( + Schweizerdeutsche Laute bilden dessen Entwicklung.) (Font kreiert dank: www.calligraphr.com/de/)


MH RabenFlueh.
--------------------------------------------------------------------------------------------------------------
*/
